// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	background: #FDFDF2;
}

figure {
	position: absolute;
	display: block;
	width: 950px;
	height: 520px;
  top: 17%;
  left: 17%;
  right: 17%;
  margin: 0 auto;
}

figure:before {
	content: "";
	position: absolute;
	display: block;
	width: 132%;
	height: 132%;
	top: -16%;
	left: -16%;
	background-color: #f8f8f8;
	z-index: -1;
	box-shadow:
		inset 0px 10px .5em rgba(0,0,0,.25),
		inset .1em 0px .1em rgba(0,0,0,.1),
		inset -0.1em 0px .1em rgba(0,0,0,.05),
		0 .3em .2em #fff;
	background-image: -moz-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
	background-image: -webkit-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
	background-image: -o-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
	background-image: -ms-radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%);
	background-image: radial-gradient(50% 50%, circle farthest-corner, #ffffff, #f8f8f8 100%)
}

figure:after {
	content: "";
	position: absolute;
	display: block;
	width: 145%;
	height: 145%;
	top: -22.5%;
	left: -22.5%;
	background: #f8f8f8;
	z-index: -2;
	box-shadow:
		0px 1em 2em -1em rgba(0,0,0,.4),
		0px 2em 2em -1em rgba(0,0,0,.3),
		0px 3em 2em -1em rgba(0,0,0,.2),
		0px 4em 1.5em -1em rgba(0,0,0,.15),
		0px 2em 4em .5em rgba(0,0,0,.1),
		inset 0 .2em .1em #fff;
}

/***************************
	Stars
****************************/

@keyframes move-twink {
    from {background-position: 0 0;}
    to {background-position: 8000px 5000px;}
}
@-webkit-keyframes move-twink {
    from {background-position:0 0;}
    to {background-position: 8000px 5000px;}
}
@-moz-keyframes move-twink {
    from {background-position: 0 0;}
    to {background-position: 8000px 5000px;}
}
@-ms-keyframes move-twink {
    from {background-position:0 0;}
    to {background-position: 8000px 5000px;}
}

.stars, .twinkling {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
	padding: 6%;
	box-shadow: inset 0px .3em .1em rgba(0,0,0,.2); 
}

.stars {
  background: #000 url("http://i.imgur.com/h2Gy5OP.png?1") repeat;
  background-position:  top center;
  z-index: 0;
}

.twinkling{
  background: transparent url("http://i.imgur.com/FRlBub6.png?1") repeat;
  background-position:  top center;
  z-index: 1;

  -moz-animation: move-twink 200s linear infinite;
  -ms-animation: move-twink 200s linear infinite;
  -o-animation: move-twink 200s linear infinite;
  -webkit-animation: move-twink 200s linear infinite;
  animation: move-twink 200s linear infinite;
}

